.custom-link {
    color: #2c3e50;
    font-weight: 500;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    transition: 0.25s;
}
.custom-link:hover {
    background: #959ea5;
    color: #000; }
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8f979c;
}
.p-menubar {
    display: flex;
    align-items: center;
    justify-content: center;
}